.msgcontainer {
  box-shadow: 0 0 0.3rem 0.3rem #00000024;
  border-radius: 0.3rem;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 70%;
}
.msgcontainerRight {
  color: white !important;
}

.msgLeft {
  display: flex;
}
.msgRight {
  background: #f0f;
  display: flex;
  margin-left: auto;
}
.messageAuthor {
  background: #00000024;

  text-transform: capitalize;
  font-size: 1.2rem;
}
.content {
  font-size: 1rem;
}
