.outerContainer {
  background: #f0f;
  height: 100vh;
  position: relative;
}
.innerContainer {
  background: #fff;
  padding: 3rem 5rem;
  position: absolute;
  border-radius: 1.2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main--header {
  font-weight: 700;
  color: black;
  font-size: 3.6rem;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

input {
  display: block;
  padding: 2rem;
  font-size: 2rem;
  margin-bottom: 3rem;
  height: 3rem;
  border: none;
  background: #f7fbfb;
  box-shadow: 0 0.3rem 0.4rem #000;
}

button {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 1.7rem;
  border: none;
  padding: 2rem 4rem;
  border-radius: 0.3rem;
  background: none;
  background: #f0f;
  box-shadow: 0 0.3rem 0.3rem #000;
  cursor: pointer;
}
